examples/airtable-to-postproxy.json
{
  "name": "Airtable to PostProxy",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "appId": "",
        "tableId": "",
        "baseId": "",
        "trigger": "record_created"
      },
      "id": "airtable-trigger",
      "name": "Airtable Trigger",
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "airtable-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.fields.Status }}",
              "operation": "equals",
              "value2": "Ready to Publish"
            }
          ]
        }
      },
      "id": "filter-ready",
      "name": "Filter Ready Posts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create",
        "publishType": "={{ $json.fields.PublishAt ? 'schedule' : 'publish_now' }}",
        "publish_at": "={{ $json.fields.PublishAt || '' }}",
        "profileGroup": {
          "mode": "id",
          "value": "={{ $json.fields.ProfileGroupID }}"
        },
        "profiles": "={{ $json.fields.ProfileIDs ? $json.fields.ProfileIDs.split(',') : [] }}",
        "content": "={{ $json.fields.Content }}",
        "media": "={{ $json.fields.MediaURLs ? $json.fields.MediaURLs.split(',') : [] }}"
      },
      "id": "postproxy-create",
      "name": "PostProxy Create Post",
      "type": "n8n-nodes-postproxy.postProxy",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "postProxyApi": {
          "id": "1",
          "name": "PostProxy API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "appId": "",
        "tableId": "",
        "baseId": "",
        "id": "={{ $json.id }}",
        "fields": {
          "fields": {
            "Status": "Published",
            "PostID": "={{ $json.id }}"
          }
        }
      },
      "id": "airtable-update",
      "name": "Update Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [850, 300],
      "operation": "update"
    }
  ],
  "connections": {
    "Airtable Trigger": {
      "main": [[{ "node": "Filter Ready Posts", "type": "main", "index": 0 }]]
    },
    "Filter Ready Posts": {
      "main": [[{ "node": "PostProxy Create Post", "type": "main", "index": 0 }]]
    },
    "PostProxy Create Post": {
      "main": [[{ "node": "Update Airtable", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

